/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.git
.gitignore
.gitattributes
venv/
render.yaml
debug_page.html
README.md
LICENSE
styleci.yml
.editorconfig
phpunit.xml
scrape_tiktok.py
tests/
